@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap');

/**Reseteo de valores**/
*{
    margin: 0;
    padding: 0;
}

/**Color palette**/
.mustard{
    color: #FFE24F;
}
.jet{
    color: #2a2a2a;
}
.indianred{
    color: #DB5461;
}
.honolulu{
    color: #2176AE;
}
.antiflash{
    color: #EBEBEB;
}
.cream{
    color: #FDFCF0;
}

/** Tipografía **/
.title{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
}
.title2{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
}
.subtitle{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
.btn-title{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.p-text{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}
.d-text{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.h3-text{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
.text{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}
.font-nav{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
}
.subtext{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}

/****/

/**Header**/
header{
    padding: 4rem;
    border-bottom: #2a2a2a 2px solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.header__nav{
    display: flex;
    justify-content: space-between; 
    padding: 0.2rem;
}
.header__nav__div__left{
    flex: 1; 
}
.header__nav__div__left__a__img{
    width: 70px;
    height: 60px;
}
.header__nav__div__ul__right{
    display: flex; 
    align-items: center; 
    list-style: none;
    margin-bottom: 0;
}
.header__nav__ul__list{
   padding: 0.5rem 0.8rem;
    margin: 0.5rem;
    border: #2a2a2a solid 1px;
    border-radius: 20px;

    border-radius: 20px;
    border: 1px solid #2A2A2A;
    background: #FDFCF0;
}
.header__nav__ul__list:hover{
    border-radius: 20px;
    border: 1px solid #000;
    background: #FFFBD1;
    color: #000;
}
.header__nav__ul__list:active{
    border-radius: 20px;
    border: 1px solid #878359;
    background: #E3DC93;
    color: #464429;
}
.header__nav__ul__list__a{
    text-decoration: none;
}
.header__nav__ul__list__a:hover{
    color: #464429;
}
.header__nav__div__right{
    display: flex; 
    align-items: center; 
    list-style: none;
}
.icon{
    color: #2A2A2A;
    font-size: 35px; 
    margin-left: 10px; 
    margin-bottom: 5px;
}
.icon:hover{
    color: #020202;
}

/**Footer**/
footer{
    background-color: #2a2a2a ;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1rem;
    font-weight: 300;    
    display: block;
    padding: 6rem; 
}
.footer__nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer__nav__ul{
    display: flex;
    align-items: center;
    margin: 0.5rem;
    list-style: none;
}
.footer__nav__ul__list__a__red{
    text-decoration: none;
    margin: 0 10px;
}
.footer__nav__ul__list__a__red:hover{
    color: #AD1725;
}
.footer__nav__ul__list__a__blue{
    text-decoration: none;
    margin: 0 10px;
}
.footer__nav__ul__list__a__blue:hover{
    color: #2176AE;
}
.footer__nav__ul__list__a__yellow{
    text-decoration: none;
    margin: 0 10px;
}
.footer__nav__ul__list__a__yellow:hover{
    color: #FFE24F;
}
/**Icons**/
.footer__nav__icon{
    display: flex;
    gap: 15px;
}
.iconInstagram{
    color: #EBEBEB;
    font-size: 50px;
}
.iconInstagram:hover{
    color: #DB5461;
}
.iconFacebook{
    color: #EBEBEB;
    font-size: 50px;
}
.iconFacebook:hover{
    color: #2176AE;
}
.iconLinkedin{
    color: #EBEBEB;
    font-size: 50px;
}
.iconLinkedin:hover{
    color: #FFE24F;
}
.iconWhatsapp{
    color: #EBEBEB;
    font-size: 50px;
}
.iconWhatsapp:hover{
    color: #DB5461;
}

/**Cuerpo y contenido principal**/
body{
    background-color: #FDFCF0;
}
main{
    margin: 0;
}
.inicio__main__section__img__size{
    width: 900px;
    height: 900px;
    text-align: left;
}

/**Botones de la página principal**/
.main__section__article__button1{
    display: flex;
    padding: 7px 37px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #2a2a2a;
    background: var(--primary-indianred, #DB5461);
    color: #2a2a2a;
    box-shadow: 4px 4px 0px -1px #000000;
}
.main__section__article__button1:hover{
    display: flex;
    padding: 7px 37px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid rgba(137, 46, 46, 0.85);
    background: rgba(204, 28, 44, 0.46);
    box-shadow: 4px 4px 0px -1px #AD1725;
}
.main__section__article__button1__a{
    text-decoration: none;
}
.main__section__article__button1__a:hover{
    color: #000;
}
.main__section__article__button1:active{
    display: inline-flex;
    padding: 7px 37px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #51040B;
    background: #AD1725;
    box-shadow: 4px 4px 0px -1px rgba(0, 0, 0, 0.64);
}
.main__section__article__button2:active{
    border-radius: 30px;
    border: 1px solid #A68B03;
    background: #FFD500;
    box-shadow: 4px 4px 0px -1px rgba(0, 0, 0, 0.60);
}
.main__section__article__button2{
    display: inline-flex;
    padding: 10px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #2a2a2a;
    background: #FFE24F;
    box-shadow: 4px 4px 0px -1px #000;
}
.main__section__article__button2:hover{
    border-radius: 30px;
    background: #FFEA7D;
    box-shadow: 4px 4px 0px -1px #E4BF00;
    border: 1px solid #5e4e00;;
}
.main__section__article__button2__a{
    text-decoration: none;
}
.main__section__article__button2__a:hover{
    color: #000;
}

        /**Secciones**/

/**Section 1**/
.inicio__main__section__first{
    margin: 0;
    display: flex;
    flex-direction: row;
}
.inicio__main__section__first__article{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
}

/**Section 2**/
.inicio__main__section__second{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #FFE24F;
    align-items: center;
    justify-content: center;
    padding-top: 17rem;
    padding-bottom: 17rem;
    gap: 20px;
}
.inicio__main__section__second__article{
    margin: 1rem;
    text-align: left;
    background-color: #FDFCF0;
    border-radius: 20px;
    width: 400px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}
.inicio__main__section__second__article__img__flor{
    display: flex;
    width: 230px;
    height: 340px;
    margin-left: 70px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.inicio__main__section__second__article__img__sahumador{
    display: flex;
    width: 450px;
    height: 300px;
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
}
.inicio__main__section__second__article__img__tierra{
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.display{
    display: inline-block;
    width: 450px;
    vertical-align: top;
}
/**Section 3**/
.inicio__main__section__third{
    background-color: #2176AE;
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.inicio__main__section__third__div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 2rem;
    padding-bottom: 5rem;
}
.inicio__main__section__third__div__uno{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio__main__section__third__uno__map{
    margin-bottom: 1rem;
    border-radius: 10px;
}
.inicio__main__section__third__div__li{
    display: flex;
}
.inicio__main__section__third__div__li__uno{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 10px;
}
.inicio__main__section__third__div__uno__list{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 6rem;
    background-color: #EBEBEB;
    border-radius: 15px;
    list-style-type: none;
}
.inicio__main__section__third__div__li__dos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.inicio__main__section__third__div__dos__list{
    padding: 1rem;
    background-color: #EBEBEB;
    border-radius: 15px;
    list-style-type: none;
}
.inicio__main__section__third__div__img{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.inicio__main__section__third__div__img__abejaflor{
    display: flex;
    width: 600px;
    height: 800px;
    overflow: hidden;
}

/**Section 4**/
.inicio__main__section__fourth{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.inicio__main__section__fourth__div{
    display: flex;

}
.inicio__main__section__fourth__article{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.inicio__main__section__fourth__div__img{
    display: flex;
    width: 850px;
    height: 850px;
    overflow: hidden;
}

/**Página de productos**/

/**Introducción a la página**/
.productos__main__div{
    margin: 6rem;
}

/**Productos**/
.productos__main__section{
    margin: 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.productos__main__section__article__first{
    margin: 1rem;
    text-align: left;
    background-color: #FFE24F;
    border-radius: 30px;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.productos__main__section__article__first__img{
    display: flex;
    width: 150px;
    height: 230px;
    overflow: hidden;
    margin-left: 70px;
}
.productos__main__section__article__second{
    margin: 1rem;
    text-align: left;
    background-color: #DB5461;
    border-radius: 30px;
    display: flex;
    height: 550px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.productos__main__section__article__third{
    margin: 1rem;
    text-align: left;
    background-color: #FFE24F;
    border-radius: 30px;
    display: flex;
    height: 550px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.productos__main__section__article__fourth{    
    margin: 1rem;
    text-align: left;
    background-color: #DB5461;
    border-radius: 30px;
    display: flex;
    height: 550px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.productos__main__section__article__first__display{
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

/**Compra mayorista**/
.m-text{
    margin: 6rem;
}

/**Página de Nosotros**/

/**Section 1**/
.nosotros__main__section__first__h1{
    margin: 5rem;
    text-align: center;
}
.nosotros__main__section__first__div__principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #EBEBEB;
    border-radius: 10px;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding: 3rem;
}
.nosotros__main__section__first__div__img__principal__nosotros{
    width: 500px;
    height: 450px;
    border-radius: 20px;
}
.nosotros__main__section__first__div_secundario{
    margin-right: 6rem;
    margin-left: 6rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: right;
    background-color: #EBEBEB;
    padding: 3rem;
    border-radius: 10px;
}
.nosotros__main__section__first__div__img__secundario__nosotros{
    width: 500px;
    height: 450px;
    border-radius: 20px;
}
.nosotros__main__div{
    margin: 5rem;
    text-align: center;
}

/**Section 2**/
.nosotros__main__section__second{
    margin: 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.nosotros__main__section__second__article__red{
    background-color: #DB5461;
    margin: 0.5rem;
    padding: 2rem;
    text-align: left;
    border-radius: 15px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
.nosotros__main__section__second__article__yellow{
    background-color: #FFE24F;
    margin: 0.5rem;
    padding: 2rem;
    text-align: left;
    border-radius: 15px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
.nosotros__main__section__second__article__blue{
    background-color: #2176AE;
    margin: 0.5rem;
    padding: 2rem;
    text-align: left;
    border-radius: 15px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
/**Video**/
.nosotros__main__div__video{
    margin: 5rem;
    text-align: center;
    background-color: #2a2a2a;
    padding: 6rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
/**Yipografía**/
.s-subtitle{
    margin: 5rem;
    text-align: center;
}
.fontH{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.fontP{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

/**Página descubre**/
.descubre__main__div{
    margin: 6rem;
    text-align: left;
}
.descubre__main__article__one{
    background-color: #2176AE;
    padding: 2rem;
    text-align: right;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 6rem;
}
.descubre__main__article__two{
    background-color: #DB5461;
    padding: 2rem;
    text-align: left;
    border-radius: 15px;
    display: flex;  
    flex-wrap: wrap;  
    margin: 6rem;
}
.descubre__main__article__three{
    background-color: #FFE24F;
    padding: 2rem;
    text-align: right;
    border-radius: 15px;
    display: flex;   
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column; 
    margin: 6rem;
}
.descubre__main__article__four{
    background-color: #2176AE;
    padding: 2rem;
    text-align: left;
    border-radius: 15px;
    display: flex; 
    flex-wrap: wrap;    
    margin: 6rem; 
}
.descubre__main__article__five{
    background-color: #DB5461;
    padding: 2rem;
    text-align: right;
    border-radius: 15px;
    display: flex;    
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 6rem;
}
.descubre__main__article__six{
    background-color: #FFE24F;
    padding: 2rem;
    text-align: left;
    border-radius: 15px;
    display: flex;  
    flex-wrap: wrap;  
    margin: 6rem;
}

/**Página de contacto**/
.contacto__main{
    margin: 6rem;
    margin-left: 10rem;
}
.contacto__main__form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.contacto__main__form__div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.contacto__main__form__div__two{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.contacto__main__form__div__input{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 12px;
    width: 160px;
    height: 40px;
    padding-left: 0.3rem;
    border-radius: 15px;
    border: 1px solid #2A2A2A;
    background: #F5F5F5;
    box-shadow: 4px 4px 0px -1px #000;
}
.contacto__main__form__div__input__two{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 12px;
    width: 160px;
    height: 40px;
    padding-left: 0.3rem;
    border-radius: 15px;
    border: 1px solid #2A2A2A;
    background: #F5F5F5;
    box-shadow: 4px 4px 0px -1px #000;
}
.contacto__main__form__div__input__three{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 12px;
    width: 340px; 
    height: 40px;
    padding-left: 0.3rem;
    border-radius: 15px;
    border: 1px solid #2A2A2A;
    background: #F5F5F5;
    box-shadow: 4px 4px 0px -1px #000;   
}
.contacto__main__form__div__input__four{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 12px; 
    width: 400px;
    height: 300px;   
    text-align: left;
    border-radius: 15px;
    border: 1px solid #2B2B2B;
    background: #EBEBEB;
    box-shadow: 4px 4px 0px -1px #000;
}
/**Botones en la página de contacto**/
.contacto__main__div__btn{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 30px;
}
.contacto__main__div__btn__one{
    display: flex;
    margin-top: 0.5rem;
    width: 195px;
    height: 46px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #1B8BD6;
    box-shadow: 4px 4px 0px -1px #000;
    color: #F5F5F5;
    font-family: Bricolage Grotesque;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    
}
.contacto__main__div__btn__two{
    display: flex;
    margin-top: 0.5rem;
    width: 196px;
    height: 46px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #81A0B4;
    box-shadow: 4px 4px 0px -1px #000;
    color: #F5F5F5;
    text-align: center;
    font-family: Bricolage Grotesque;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
}

/**Diseño responsive**/
.escritorio{
    display: none;
}

@media screen and (min-width: 768px){
   .escritorio{
    display:flex;
    flex-direction: column-reverse;
   }
   .celular{
         display: none;
   }
}