@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap");
/**Colores**/
/**Mapa de sombras**/
/**Tipografía**/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FDFCF0;
  scroll-behavior: smooth;
}

.escritorio {
  display: none;
}

@media screen and (min-width: 768px) {
  .escritorio {
    display: flex;
    flex-direction: column-reverse;
  }
  .celular {
    display: none;
  }
}
header {
  padding: 0.5rem 4rem 0.2rem;
  border-bottom: #2a2a2a 2px solid;
}
header .header__img {
  width: 60px;
  height: 50px;
}
header .header__div__ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  justify-content: flex-end;
}
header .header__div__ul .header__div__ul__list {
  padding: 0.2rem 0.8rem;
  margin: 0.5rem;
  border-radius: 20px;
  border: 1px solid #2a2a2a;
  background: #FDFCF0;
}
header .header__div__ul .header__div__ul__list:hover {
  border-radius: 20px;
  border: 1px solid #000;
  background: #fffabd;
  color: #000;
}
header .header__div__ul .header__div__ul__list:active {
  border-radius: 20px;
  border: 1px solid #878359;
  background: #ddd582;
  color: #464429;
}
header .header__div__ul .header__div__ul__list .font-nav {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  color: #2a2a2a;
}
header .header__div__ul .header__div__ul__list .font-nav:hover {
  color: #464429;
}
header .header__div {
  display: flex;
  align-items: center;
  list-style: none;
}
header .header__div .icon {
  color: #2a2a2a;
  font-size: 35px;
  margin-left: 10px;
  margin-bottom: 5px;
}
header .header__div .icon:hover {
  color: #020202;
}

footer {
  background-color: #2a2a2a;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: block;
  padding: 3rem;
}
footer .footer__nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .footer__nav .footer__nav__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem;
  list-style: none;
}
footer .footer__nav .footer__nav__ul .footer__nav__ul__list__a__red, footer .footer__nav .footer__nav__ul .footer__nav__ul__list__a__yellow, footer .footer__nav .footer__nav__ul .footer__nav__ul__list__a__blue {
  text-decoration: none;
  margin: 0 10px;
  color: #EBEBEB;
}
footer .footer__nav .footer__nav__ul .footer__nav__ul__list__a__red:hover, footer .footer__nav .footer__nav__ul .footer__nav__ul__list__a__yellow:hover, footer .footer__nav .footer__nav__ul .footer__nav__ul__list__a__blue:hover {
  color: #AD1725;
}
footer .footer__nav .footer__nav__ul .footer__nav__ul__list__a__blue:hover {
  color: #2176AE;
}
footer .footer__nav .footer__nav__ul .footer__nav__ul__list__a__yellow:hover {
  color: #FFE24F;
}
footer .footer__nav__icon {
  display: flex;
  justify-content: center;
  gap: 15px;
}
footer .footer__nav__icon .iconInstagram, footer .footer__nav__icon .iconWhatsapp, footer .footer__nav__icon .iconLinkedin, footer .footer__nav__icon .iconFacebook {
  color: #EBEBEB;
  font-size: 50px;
}
footer .footer__nav__icon .iconInstagram:hover, footer .footer__nav__icon .iconWhatsapp:hover, footer .footer__nav__icon .iconLinkedin:hover, footer .footer__nav__icon .iconFacebook:hover {
  color: #DB5461;
}
footer .footer__nav__icon .iconFacebook:hover {
  color: #2176AE;
}
footer .footer__nav__icon .iconLinkedin:hover {
  color: #FFE24F;
}
footer .footer__nav__icon .iconWhatsapp:hover {
  color: #DB5461;
}

@media screen and (max-width: 768px) {
  .footer__nav__ul {
    flex-direction: column;
    align-items: center;
  }
}
/**Página de inicio**/
/**Sección 1: Inicio**/
.inicio__main__section__img__size {
  width: 100%;
  height: 100%;
  text-align: left;
}

.inicio__main__section__first__article {
  margin: 5rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  gap: 20px;
}
.inicio__main__section__first__article .title__section__first {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}
.inicio__main__section__first__article .text__section__first {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}
.inicio__main__section__first__article .main__section__article__button1 {
  padding: 7px 37px;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #000000;
  background: #DB5461;
  color: #2a2a2a;
  box-shadow: 4px 4px 0px -1px #000000;
}
.inicio__main__section__first__article .main__section__article__button1:hover {
  display: flex;
  padding: 7px 37px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid rgba(137, 46, 46, 0.85);
  background: rgba(204, 28, 44, 0.46);
  box-shadow: 4px 4px 0px -1px #AD1725;
}
.inicio__main__section__first__article .main__section__article__button1:active {
  display: inline-flex;
  padding: 7px 37px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #51040B;
  background: #AD1725;
  box-shadow: 4px 4px 0px -1px #000000;
}
.inicio__main__section__first__article .main__section__article__button1 .btn-title {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #2a2a2a;
}
.inicio__main__section__first__article .main__section__article__button1 .btn-title:hover {
  color: #000;
}

/**Sección 2: Valores de la empresa**/
.inicio__main__section__second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFE24F;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.inicio__main__section__second .inicio__main__section__second__article {
  margin: 0 1rem;
  background-color: #FDFCF0;
  border-radius: 20px;
  padding: 1rem;
  display: inline-block;
  width: 300px;
  box-shadow: 6px 6px 0px -1px #000;
  animation: appear 1s ease forwards;
  animation-delay: 0s;
}
.inicio__main__section__second .inicio__main__section__second__article .inicio__main__section__second__article__img__flor {
  display: flex;
  margin-bottom: 1.5rem;
}
.inicio__main__section__second .inicio__main__section__second__article .inicio__main__section__second__article__img__ahumador {
  display: flex;
  margin-bottom: 1.5rem;
}
.inicio__main__section__second .inicio__main__section__second__article .inicio__main__section__second__article__img__tierra {
  display: flex;
  margin-bottom: 1.5rem;
}
.inicio__main__section__second .inicio__main__section__second__article .subtitle__section__second {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  word-spacing: 20px;
}
.inicio__main__section__second .inicio__main__section__second__article .text__section__second {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**Sección 3: Puntos de venta**/
.inicio__main__section__third {
  background-color: #2176AE;
  padding-top: 7rem;
  display: flex;
  justify-content: center;
}
.inicio__main__section__third .inicio__main__section__third__div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__uno {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__uno .inicio__main__section__third__uno__map {
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 600px;
  height: 450px;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__uno .subtitle__section__third {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #EBEBEB;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__dos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__dos .subtext__section__third {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  color: #2a2a2a;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__dos .inicio__main__section__third__div__li__uno {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__dos .inicio__main__section__third__div__li__uno .inicio__main__section__third__div__uno__list {
  padding: 1rem 8rem 1rem 1rem;
  background-color: #EBEBEB;
  border-radius: 15px;
  list-style-type: none;
  border: 1px solid #2a2a2a;
  box-shadow: 4px 4px 0px -1px #000000;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__dos .inicio__main__section__third__div__li__dos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__dos .inicio__main__section__third__div__li__dos .inicio__main__section__third__div__dos__list {
  padding: 1rem;
  background-color: #EBEBEB;
  border-radius: 15px;
  list-style-type: none;
  border: 1px solid #2a2a2a;
  box-shadow: 4px 4px 0px -1px #000000;
}
.inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__dos .text__section__h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}
.inicio__main__section__third .inicio__main__section__third__div__img {
  flex-wrap: wrap;
  align-content: flex-end;
}
.inicio__main__section__third .inicio__main__section__third__div__img .inicio__main__section__third__div__img__abejaflor {
  height: 600px;
}

/**Sección 4: Redirección a la página Descubre**/
.inicio__main__section__fourth {
  padding-top: 11rem;
  padding-bottom: 11rem;
  background-image: url("../assets/img/inicio_colmena.png");
  background-size: cover;
  background-position: bottom;
}
.inicio__main__section__fourth .subtitle__section__fourth {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.inicio__main__section__fourth .text__section__fourth {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
.inicio__main__section__fourth .inicio__main__section__fourth__article {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.inicio__main__section__fourth .inicio__main__section__fourth__article .main__section__article__button2 {
  padding: 10px 60px;
  border-radius: 30px;
  border: 1px solid #000000;
  background: #FFE24F;
  box-shadow: 4px 4px 0px -1px #000000;
}
.inicio__main__section__fourth .inicio__main__section__fourth__article .main__section__article__button2:hover {
  border-radius: 30px;
  background: #FFEA7D;
  box-shadow: 4px 4px 0px -1px #E4BF00;
  border: 1px solid #5e4e00;
}
.inicio__main__section__fourth .inicio__main__section__fourth__article .main__section__article__button2:active {
  border-radius: 30px;
  border: 1px solid #A68B03;
  background: #FFD500;
  box-shadow: 4px 4px 0px -1px #000000;
}
.inicio__main__section__fourth .inicio__main__section__fourth__article .main__section__article__button2 .btn-title2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #2a2a2a;
}
.inicio__main__section__fourth .inicio__main__section__fourth__article .main__section__article__button2 .btn-title2:hover {
  color: #000;
}
.inicio__main__section__fourth .inicio__main__section__fourth__img1 {
  transform: translate(10px, 50px);
  width: 60px;
  height: 60px;
  animation: volar-derecha 4s linear infinite;
}
.inicio__main__section__fourth .inicio__main__section__fourth__img2 {
  transform: translate(300px, -200px) scaleX(-1);
  width: 70px;
  height: 70px;
  animation: volar-izquierda 10s linear infinite;
}
.inicio__main__section__fourth .inicio__main__section__fourth__img3 {
  transform: translate(-40px, -100px) scaleX(-1);
  width: 120px;
  height: 120px;
  animation: volar-izquierda2 5s linear infinite;
}
.inicio__main__section__fourth .inicio__main__section__fourth__img4 {
  transform: translate(250px, -150px);
  width: 100px;
  height: 100px;
  animation: volar-derecha2 8s linear infinite;
}
@keyframes volar-derecha {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  50% {
    transform: translate(10px, 200px) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes volar-derecha2 {
  0% {
    transform: translate(250px, -150px) rotate(0);
  }
  50% {
    transform: translateX(250px) rotate(10deg);
  }
  100% {
    transform: translate(250px, -150px) rotate(0);
  }
}
@keyframes volar-izquierda {
  0% {
    transform: translate(300px, -200px) scaleX(-1) rotate(0);
  }
  50% {
    transform: translate(200px, -100px) scaleX(-1) rotate(10deg);
  }
  100% {
    transform: translate(300px, -200px) scaleX(-1) rotate(0);
  }
}
@keyframes volar-izquierda2 {
  0% {
    transform: translate(-40px, -100px) scaleX(-1) rotate(0);
  }
  50% {
    transform: translate(-20px, -200px) scaleX(-1) rotate(10deg);
  }
  100% {
    transform: translate(-40px, -100px) scaleX(-1) rotate(0);
  }
}

.inicio__main__div__icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.inicio__main__div__icon .inicio__main__div__icon__up {
  font-size: 50px;
  color: #DB5461;
}

/**Responsive**/
@media screen and (max-width: 768px) {
  .inicio__main__section__first__article {
    margin: 4rem 1rem;
    text-align: center;
    align-items: center;
  }
  .inicio__main__section__img__size {
    display: none;
  }
  .inicio__main__section__second {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .inicio__main__section__second .inicio__main__section__second__article {
    padding: 1.5rem;
    margin: 2rem;
  }
  .inicio__main__section__third .inicio__main__section__third__div .inicio__main__section__third__div__uno .inicio__main__section__third__uno__map {
    width: 350px;
    height: 240px;
  }
  .inicio__main__section__third__div__li {
    align-items: center;
    flex-direction: column;
  }
  .inicio__main__section__third__div__img__abejaflor {
    width: 300px;
    height: 400px;
    display: none;
  }
  .inicio__main__section__fourth__article {
    margin: 1rem;
    margin-left: 2rem;
  }
  .inicio__main__section__fourth {
    background-image: url("../assets/img/inicioColmena_Mobile.png");
    background-position: bottom;
    background-size: contain;
    padding-bottom: 13rem;
    padding-top: 8rem;
  }
}
/**Página de productos**/
/**Productos**/
.productos__main__section__article__first, .productos__main__section__article__second {
  background-color: #FFE24F;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 30px;
  display: inline-block;
  width: 400px;
  border: 1px solid #2a2a2a;
  box-shadow: 4px 4px 0px -1px #000000;
}

.productos__main__section__article__second {
  background-color: #ff6573;
}

/**Carrusel**/
.productos__main__section__article__first__mobile, .productos__main__section__article__second__mobile {
  background-color: #FFE24F;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 30px;
  display: inline-block;
  width: 400px;
  border: 1px solid #2a2a2a;
  box-shadow: 4px 4px 0px -1px #000000;
}

.productos__main__section__article__second__mobile {
  background-color: #ff6573;
}

/**Tipografía**/
.title__producto {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #2a2a2a;
}

.text__producto {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #2a2a2a;
  word-spacing: 2px;
  line-height: 1.6;
}

.title__producto__h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}

.text__producto__h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

/**Responsive**/
@media screen and (max-width: 768px) {
  .productos__main__section__article__first, .productos__main__section__article__second {
    display: none;
  }
  .productos__main__section__article__second {
    display: none;
  }
}
/**Página de Nosotros**/
/**Sobre la empresa**/
.nosotros__main__section__first__h1 {
  margin: 5rem;
  text-align: center;
}

.nosotros__main__section__first__div {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 245, 151, 0.9450980392);
  margin: 2rem 0;
  padding: 2rem 1rem;
}
.nosotros__main__section__first__div .text__nosotros {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  word-spacing: 3px;
  line-height: 1.7;
}

/**Tipografía**/
.title__nosotros {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}

/**Sobre el proceso de producción de miel**/
/**Título**/
.nosotros__main__div {
  margin: 5rem;
  text-align: center;
}
.nosotros__main__div .title__nosotros__h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

/**Etapas del proceso**/
.nosotros__main__section__second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  gap: 20px;
}
.nosotros__main__section__second .nosotros__main__section__second__article__red, .nosotros__main__section__second .nosotros__main__section__second__article__blue, .nosotros__main__section__second .nosotros__main__section__second__article__yellow {
  background-color: #DB5461;
  padding: 1.5rem;
  border-radius: 15px;
  display: inline-block;
  width: 230px;
}
.nosotros__main__section__second .nosotros__main__section__second__article__yellow {
  background-color: #FFE24F;
}
.nosotros__main__section__second .nosotros__main__section__second__article__blue {
  background-color: #2176AE;
}
.nosotros__main__section__second .title__nosotros__h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.nosotros__main__section__second .text__nosotros__p {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.nosotros__main__section__second__article__red__mobile, .nosotros__main__section__second__article__blue__mobile, .nosotros__main__section__second__article__yellow__mobile {
  background-color: #DB5461;
  padding: 1.5rem;
  border-radius: 15px;
  display: inline-block;
  width: 230px;
}

.nosotros__main__section__second__article__yellow__mobile {
  background-color: #FFE24F;
}

.nosotros__main__section__second__article__blue__mobile {
  background-color: #2176AE;
}

/**Video**/
.nosotros__main__div__video {
  margin: 5rem;
  text-align: center;
  background-color: #2a2a2a;
  padding: 6rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
.nosotros__main__div__video .nosotros__video {
  width: 560px;
  height: 315px;
}

/**Responsive**/
@media screen and (max-width: 768px) {
  .nosotros__main__section__first__h1 {
    margin: 4rem 1rem;
    text-align: left;
  }
  .nosotros__main__section__second {
    margin: 2rem;
  }
  .nosotros__main__div {
    margin: 1rem;
  }
  .nosotros__main__div__video {
    margin: 1rem;
    padding: 1rem;
  }
  .nosotros__main__div__video .nosotros__video {
    width: 230px;
    height: 120px;
  }
  .nosotros__main__section__second .nosotros__main__section__second__article__red, .nosotros__main__section__second .nosotros__main__section__second__article__yellow, .nosotros__main__section__second .nosotros__main__section__second__article__blue {
    display: none;
  }
  .nosotros__main__section__second .nosotros__main__section__second__article__blue {
    display: none;
  }
  .nosotros__main__section__second .nosotros__main__section__second__article__yellow {
    display: none;
  }
}
/**Página de descubre**/
/**Título**/
.descubre__main__div {
  margin: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.descubre__main__div .title__descubre {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}
.descubre__main__div .text__descubre__p {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

/**Cajas**/
.descubre__main__article__one, .descubre__main__article__six, .descubre__main__article__five, .descubre__main__article__four, .descubre__main__article__three, .descubre__main__article__two {
  background-color: #2176AE;
  padding: 1rem;
  text-align: right;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
  box-shadow: 6px 6px 0px -1px #000;
}

.descubre__main__article__two {
  background-color: #DB5461;
  text-align: left;
  flex-direction: row;
}

.descubre__main__article__three {
  background-color: #FFE24F;
}

.descubre__main__article__four {
  background-color: #2176AE;
  text-align: left;
  flex-direction: row;
}

.descubre__main__article__five {
  background-color: #DB5461;
}

.descubre__main__article__six {
  background-color: #FFE24F;
  text-align: left;
  flex-direction: row;
}

/**Tipografía**/
.text__descubre {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

.text__descubre__h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

/**Responsive**/
@media screen and (max-width: 768px) {
  .descubre__flex {
    flex-wrap: wrap;
  }
  .descubre__main__article__one, .descubre__main__article__two, .descubre__main__article__three, .descubre__main__article__four, .descubre__main__article__five, .descubre__main__article__six {
    flex-wrap: wrap;
  }
  .descubre__main__article__two {
    flex-wrap: wrap;
  }
  .descubre__main__article__three {
    flex-wrap: wrap;
  }
  .descubre__main__article__four {
    flex-wrap: wrap;
  }
  .descubre__main__article__five {
    flex-wrap: wrap;
  }
  .descubre__main__article__six {
    flex-wrap: wrap;
  }
}
/**Página de contacto**/
/**Formulario**/
.contacto__main__form__div__input__name {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 12px;
  width: 160px;
  height: 40px;
  padding-left: 0.3rem;
  border-radius: 15px;
  border: 1px solid #2a2a2a;
  background: #EBEBEB;
  box-shadow: 4px 4px 0px -1px #000000;
}

.contacto__main__form__div__input__email {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 12px;
  width: 340px;
  height: 40px;
  padding-left: 0.3rem;
  border-radius: 15px;
  border: 1px solid #2a2a2a;
  background: #EBEBEB;
  box-shadow: 4px 4px 0px -1px #000000;
}

.contacto__main__form__div__input__message {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 12px;
  width: 400px;
  height: 300px;
  text-align: left;
  border-radius: 15px;
  border: 1px solid #2a2a2a;
  background: #EBEBEB;
  box-shadow: 4px 4px 0px -1px #000000;
}

/**Botones**/
.contacto__main__div__btn__one {
  margin-top: 0.5rem;
  width: 195px;
  height: 45px;
  border-radius: 20px;
  background: #1B8BD6;
  box-shadow: 4px 4px 0px -1px #000000;
  color: #F5F5F5;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.contacto__main__div__btn__one:hover {
  background-color: #38aaf6;
  color: #2a2a2a;
  box-shadow: 4px 4px 0px -1px #6a6a6a;
}

.contacto__main__div__btn__two {
  margin-top: 0.5rem;
  width: 195px;
  height: 45px;
  border-radius: 20px;
  background: #6094b6;
  box-shadow: 4px 4px 0px -1px #000000;
  color: #F5F5F5;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.contacto__main__div__btn__two:hover {
  background-color: #8abddf;
  color: #2a2a2a;
  box-shadow: 4px 4px 0px -1px #6a6a6a;
}

/**Tipografía**/
.title__contacto {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}

.text__contacto {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

/**Responsive**/
@media screen and (max-width: 768px) {
  .contacto__main__img {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
