/**Página de contacto**/

/**Formulario**/
.contacto__main__form__div__input__name{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 14px;
    width: 160px;
    height: 40px;
    padding-left: 0.3rem;
    border-radius: 15px;
    border: 1px solid $color-jet;
    background: $color-antiflash;
    box-shadow: map-get($sombras, sombra4px);
}
.contacto__main__form__div__input__email{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 14px;
    width: 340px; 
    height: 40px;
    padding-left: 0.3rem;
    border-radius: 15px;
    border: 1px solid $color-jet;
    background: $color-antiflash;
    box-shadow: map-get($sombras, sombra4px);   
}
.contacto__main__form__div__textarea{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 14px; 
    width: 400px;
    height: 300px;   
    text-align: left;
    border-radius: 15px;
    border: 1px solid $color-jet;
    background: $color-antiflash;
    box-shadow: map-get($sombras, sombra4px);
    resize: none;
}

/**Botones**/
.contacto__main__div__btn__one{
    margin-top: 0.5rem;
    width: 195px;
    height: 45px;
    border-radius: 20px;
    background: #1B8BD6;
    box-shadow: map-get($sombras, sombra4px);
    color: #F5F5F5;
    font-family: $font-principal;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    &:hover{
        background-color: #38aaf6;
        color: #2a2a2a;
        box-shadow: map-get($sombras, sombraHover);
    }
}
.contacto__main__div__btn__two{
    margin-top: 0.5rem;
    width: 195px;
    height: 45px;
    border-radius: 20px;
    background: #6094b6;
    box-shadow: map-get($sombras, sombra4px);
    color: #F5F5F5;
    font-family: $font-principal;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    &:hover{
        background-color: #8abddf;
        color: #2a2a2a;
        box-shadow: map-get($sombras, sombraHover);
    }
}

/**Tipografía**/
.title__contacto{
    font-family: $font-principal;
    font-weight: 800;
    font-size: 3.5rem;
}
.text__contacto{
    font-family: $font-principal;
    font-weight: 300;
    font-size: 1.3rem;
}

/**Responsive**/
@media screen and (max-width: 768px){
    .contacto__main__img{
        display: none;
    }
}