/**Página de descubre**/

/**Título**/
.descubre__main__div{
    margin: 4rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    .title__descubre{
        font-family: $font-principal;
        font-weight: 800;
        font-size: 3.5rem;
    }
    .text__descubre__p{
        font-family: $font-principal;
        font-weight: 300;
        font-size: 1.2rem;
    }
}

/**Cajas**/
.descubre__main__article__one{
    background-color: $color-terciario;
    padding: 1rem;
    text-align: right;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px; 
    box-shadow: map-get($sombras, sombra6px);
}
.descubre__main__article__two{
    @extend .descubre__main__article__one;
    background-color: $color-secundario;
    text-align: left;
    flex-direction: row;
}
.descubre__main__article__three{
    @extend .descubre__main__article__one;
    background-color: $color-primario;
}
.descubre__main__article__four{
    @extend .descubre__main__article__one;
    background-color: $color-terciario;
    text-align: left;
    flex-direction: row;
}
.descubre__main__article__five{
    @extend .descubre__main__article__one;
    background-color: $color-secundario;
}
.descubre__main__article__six{
    @extend .descubre__main__article__one;
    background-color: $color-primario;
    text-align: left;
    flex-direction: row;
}

/**Tipografía**/
.text__descubre{
    font-family: $font-principal;
    font-weight: 300;
    font-size: 1.1rem;
}
.text__descubre__h2{
    font-family: $font-principal;
    font-weight: 600;
    font-size: 1.5rem;
}

/**Responsive**/
@media screen and (max-width: 768px){
    .descubre__flex{
        flex-wrap: wrap;
    }
    .descubre__main__article__one{
        flex-wrap: wrap;
    }
    .descubre__main__article__two{
        flex-wrap: wrap;
    }
    .descubre__main__article__three{
        flex-wrap: wrap;
    }
    .descubre__main__article__four{
        flex-wrap: wrap;
    }
    .descubre__main__article__five{
        flex-wrap: wrap;
    }
    .descubre__main__article__six{
        flex-wrap: wrap;
    }
}