
.error__main__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    .error__main__div__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .error__main__div__h1{
            font-family: $font-principal;
            font-size: 2rem;
            font-weight: 700;

        }
        .error__main__div__h2{
            font-family: $font-principal;
            font-size: 1.5rem;
            font-weight: 500;

        }
        .error__main__div__p{
            font-family: $font-principal;
            font-size: 1.3rem;
            font-weight: 400;
            display: flex;
        }
        
    }
    .error__main__div__button{
        display: flex;
        align-items: center;
        border-radius: 20px;
        height: 1rem;
        padding: 1rem;
        background-color: $color-terciario;
        border: 1px solid $color-jet;
        box-shadow: map-get($sombras, sombra4px);
        &:hover{
            background-color: #4c9cd1;
            box-shadow: 4px 4px 0px -1px #686868;
        }
        &:active{
            color: $color-antiflash;
            background-color: #1776b1;
            box-shadow: 4px 4px 0px -1px #1d1d1d;
        }
        .error__button__a{
            color: $color-jet;
            font-family: $font-principal;
            font-size: 1.5rem;
            font-weight: 400;
            &:hover{
                color: $color-antiflash;
            }
        }
    }
}