footer{
    background-color: $color-jet ;
    font-family: $font-principal;
    font-size: 1rem;
    font-weight: 300;    
    display: block;
    padding: 3rem; 
    .footer__nav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .footer__nav__ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0.5rem;
            list-style: none;
            .footer__nav__ul__list__a__red{
                text-decoration: none;
                margin: 0 10px;
                color: $color-antiflash;
                &:hover{
                    color: #AD1725;
                }
            }
            .footer__nav__ul__list__a__blue{
                text-decoration: none;
                margin: 0 10px;
                color: $color-antiflash;
                &:hover{
                    color: $color-terciario;
                }
            }
            .footer__nav__ul__list__a__yellow{
                text-decoration: none;
                margin: 0 10px;
                color: $color-antiflash;
                &:hover{
                    color: $color-primario;
                }
            }
        }
    }
    .footer__nav__icon{
        display: flex;
        justify-content: center;
        gap: 15px;
        .iconInstagram{
            color: $color-antiflash;
            font-size: 50px;
            &:hover{
                color: $color-secundario;
            }
        }
        .iconFacebook{
            color: $color-antiflash;
            font-size: 50px;
            &:hover{
                color: $color-terciario;
            }
        }
        .iconLinkedin{
            color: $color-antiflash;
            font-size: 50px;
            &:hover{
                color: $color-primario;
            }
        }
        .iconWhatsapp{
            color: $color-antiflash;
            font-size: 50px;
            &:hover{
                color: $color-secundario;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .footer__nav__ul{
        flex-direction: column;
        align-items: center;
    }
}