
/**Página de inicio**/

/**Sección 1: Inicio**/
.inicio__main__section__img__size{
    width: 100%;
    height: 100%;
    text-align: left;
}
.inicio__main__section__first__article{
    margin: 5rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    gap: 20px;
    .title__section__first{
        font-family: $font-principal;
        font-weight: 800;
        font-size: 3.5rem;
    }
    .text__section__first{
        font-family: $font-principal;
        font-weight: 300;
        font-size: 1.3rem;
    }
    .main__section__article__button1{
        padding: 7px 37px;
        gap: 10px;
        border-radius: 30px;
        border: 1px solid #000000;
        background: $color-secundario;
        color: $color-jet;
        box-shadow: map-get($sombras, sombra4px);
        &:hover{
            display: flex;
            padding: 7px 37px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            border: 1px solid rgba(137, 46, 46, 0.85);
            background: #EB7984;
            box-shadow: 4px 4px 0px -1px #AD1725;
        }
        &:active{
            display: inline-flex;
            padding: 7px 37px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            border: 1px solid #51040B;
            background: #AD1725;
            box-shadow: map-get($sombras, sombra4px);
        }
        .btn-title{
            font-family: $font-principal;
            font-weight: 600;
            font-size: 1.5rem;
            color: $color-jet;
            &:hover{
                color: #000;
            }
        }
    }
}
/**Sección 2: Valores de la empresa**/
.inicio__main__section__second{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-primario;
    gap: 20px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    .inicio__main__section__second__article{
        margin: 0 1rem;
        background-color: #FDFCF0;
        border-radius: 20px;
        padding: 2rem;
        display: inline-block;
        width: 350px;
        box-shadow: map-get($sombras, sombra6px); 
        .inicio__main__section__second__article__img__flor{
            display: flex;
            margin-bottom: 1.5rem;
        }
        .inicio__main__section__second__article__img__ahumador{
            display: flex;
            margin-bottom: 1.5rem;
        }
        .inicio__main__section__second__article__img__tierra{
            display: flex;
            margin-bottom: 1.5rem;
        }
        .subtitle__section__second{
            font-family: $font-principal;
            font-weight: 700;
            font-size: 2rem;
            word-spacing: 40px;
        }
        .text__section__second{
            font-family: $font-principal;
            font-weight: 300;
            font-size: 1.1rem;
            line-height: 25px;
        }
    }
}
/**Sección 3: Puntos de venta**/
.inicio__main__section__third{
    background-color: $color-terciario;
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    .inicio__main__section__third__div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 2rem;
        padding-bottom: 5rem;
        .inicio__main__section__third__div__uno{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            .inicio__main__section__third__uno__map{
                margin-bottom: 1rem;
                border-radius: 10px;
                width: 600px;
                height: 450px;
            }
            .subtitle__section__third{
                font-family: $font-principal;
                font-weight: 700;
                font-size: 2.5rem;
                color: $color-antiflash;
            }
        }
        .inicio__main__section__third__div__dos{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 10px;
            .subtext__section__third{
                font-family: $font-principal;
                font-weight: 200;
                font-size: 1.2rem;
                color: $color-jet;
            }
            .inicio__main__section__third__div__ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-left: 0;
                .inicio__main__section__third__div__ul__list{
                    padding: 1rem;
                    background-color: $color-antiflash;
                    border-radius: 15px;
                    list-style-type: none;
                    border: 1px solid $color-jet;
                    box-shadow: map-get($sombras, sombra4px);
                    display: inline-block;
                    width: 300px;
                }
            }
            
            .text__section__h3{
                font-family: $font-principal;
                font-weight: 600;
                font-size: 1.2rem;
            }
        }
    }
    .inicio__main__section__third__div__img{
        flex-wrap: wrap;
        align-content: flex-end;
        .inicio__main__section__third__div__img__abejaflor{
            height: 600px;
        }
    }
}
/**Sección 4: Redirección a la página Descubre**/
.inicio__main__section__fourth{
    padding-top: 11rem;
    padding-bottom: 11rem;
    background-image: url("../assets/img/inicio_colmena.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    .subtitle__section__fourth{
        font-family: $font-principal;
        font-weight: 700;
        font-size: 2.5rem;
    }
    .text__section__fourth{
        font-family: $font-principal;
        font-weight: 300;
        font-size: 1.2rem;
    }
    .inicio__main__section__fourth__article{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        .main__section__article__button2{
            padding: 10px 60px;
            border-radius: 30px;
            border: 1px solid #000000;
            background: $color-primario;
            box-shadow: map-get($sombras, sombra4px);
            &:hover{
                border-radius: 30px;
                background: #FFEA7D;
                box-shadow: 4px 4px 0px -1px #E4BF00;
                border: 1px solid #5e4e00;
            }
            &:active{
                border-radius: 30px;
                border: 1px solid #A68B03;
                background: #FFD500;
                box-shadow: map-get($sombras, sombra4px);
            }
            .btn-title2{
                font-family: $font-principal;
                font-weight: 600;
                font-size: 1.5rem;
                color: $color-jet;
                &:hover{
                    color: #000;
                }
            }
        }

    }
    .inicio__main__section__fourth__img1{
        transform: translate(10px,50px);
        width: 60px;
        height: 60px;
        animation: volar-derecha 4s linear infinite;
    }
    .inicio__main__section__fourth__img2{
        transform: translate(300px,-200px) scaleX(-1);
        width: 70px;
        height: 70px;
        animation: volar-izquierda 10s linear infinite;
    }
    .inicio__main__section__fourth__img3{
        transform: translate(-40px,-100px) scaleX(-1);
        width: 120px;
        height: 120px;
        animation: volar-izquierda2 5s linear infinite;
    }
    .inicio__main__section__fourth__img4{
        transform: translate(250px,-150px);
        width: 100px;
        height: 100px;
        animation: volar-derecha2 8s linear infinite;
    }
    @keyframes volar-derecha {
        0% {
            transform: translate(0, 0) rotate(0);
        }
        50% {
            transform: translate(10px, 200px) rotate(10deg);
        }
        100% {
            transform: translate(0, 0) rotate(0);
        }
    }
    @keyframes volar-derecha2 {
        0% {
            transform: translate(250px,-150px) rotate(0);
        }
        50% {
            transform: translateX(250px) rotate(10deg);
        }
        100% {
            transform: translate(250px,-150px) rotate(0);
        }
    }
    @keyframes volar-izquierda{
        0% {
            transform: translate(300px,-200px) scaleX(-1) rotate(0);
        }
        50% {
            transform: translate(200px,-100px) scaleX(-1) rotate(10deg);
        }
        100% {
            transform: translate(300px,-200px) scaleX(-1) rotate(0);
        }
    }
    @keyframes volar-izquierda2{
        0% {
            transform: translate(-40px,-100px) scaleX(-1) rotate(0);
        }
        50% {
            transform: translate(-20px,-200px) scaleX(-1) rotate(10deg);
        }
        100% {
            transform: translate(-40px,-100px) scaleX(-1) rotate(0);
        }
    }
}

/**Responsive**/
@media screen and (max-width: 768px){

    .inicio__main__section__first__article{
        margin: 4rem 1rem;
        text-align: center;
        align-items: center;
    }
    .inicio__main__section__img__size{
        display: none;
    }
    .inicio__main__section__second{
        padding-top: 5rem;
        padding-bottom: 5rem;
        
    }
    .inicio__main__section__third{
        .inicio__main__section__third__div{
            .inicio__main__section__third__div__uno{
                .inicio__main__section__third__uno__map{
                    width: 350px;
                    height: 240px;
                        
                }
            }
            .inicio__main__section__third__div__dos{
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
        
    }
    
    .inicio__main__section__third__div__li{
        align-items: center;
        flex-direction: column;
    }
    .inicio__main__section__third__div__img__abejaflor{
        width: 300px;
        height: 400px;
        display: none;
    }
    .inicio__main__section__fourth__article{
        margin: 1rem;
        margin-left: 2rem;
    }
    .inicio__main__section__fourth{
        background-image: url('../assets/img/inicioColmena_Mobile.png');
        background-position: bottom;
        background-size: contain;
        padding-bottom: 13rem;
        padding-top: 8rem;
    }
}
@media screen and (max-width: 375px){
    .inicio__main__section__first__article{
        .title__section__first{
            font-size: 2.5rem;
        }
        .text__section__first{
            font-size: 1rem;
        }
    }

    .inicio__main__section__second{
        
        .inicio__main__section__second__article{
            width: 250px;
            padding: 1.5rem;
            margin: 2rem;
        }
    }

    .inicio__main__section__third{
        .inicio__main__section__third__div{
            padding-left: 0;
            padding-right: 0;
            .inicio__main__section__third__div__uno{
                .inicio__main__section__third__uno__map{
                    width: 300px;
                    height: 200px;
                        
                }
            }
            .inicio__main__section__third__div__dos{
                .inicio__main__section__third__div__ul{
                    .inicio__main__section__third__div__ul__list{
                        width: 250px;
                    }
                }
            }
        }
        
    }
}