/**Página de Nosotros**/

/**Sobre la empresa**/
.nosotros__main__section__first__h1{
    margin: 4rem;
    text-align: center;
}
.nosotros__main__section__first__div{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff597f1;
    margin: 2rem 0;
    padding: 2rem 1rem;
    .text__nosotros{
        font-family: $font-principal;
        font-weight: 300;
        font-size: 1.1rem;
        word-spacing: 3px;
        line-height: 1.7;
    }
}
/**Tipografía**/
.title__nosotros{
    font-family: $font-principal;
    font-weight: 800;
    font-size: 3.5rem;
}

/**Sobre el proceso de producción de miel**/

/**Título**/
.nosotros__main__div{
    margin: 5rem;
    text-align: center;
    .title__nosotros__h2{
        font-family: $font-principal;
        font-weight: 800;
        font-size: 2.5rem;
    }
}
/**Etapas del proceso**/
.nosotros__main__section__second{
    @include contenedorFlex(row, wrap, space-evenly);
    margin: 1rem;
    gap: 20px;
    .nosotros__main__section__second__article__red{
        background-color: $color-secundario;
        padding: 1.5rem;
        border-radius: 15px;
        display: inline-block;
        width: 230px;
        border: 1px solid $color-jet;
    }
    .nosotros__main__section__second__article__yellow{
        @extend .nosotros__main__section__second__article__red;
        background-color: $color-primario;
    }
    .nosotros__main__section__second__article__blue{
        @extend .nosotros__main__section__second__article__red;
        background-color: $color-terciario;
    }
    .title__nosotros__h3{
        font-family: $font-principal;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .text__nosotros__p{
        font-family: $font-principal;
        font-weight: 300;
        font-size: 1rem;
    }
}
.nosotros__main__section__second__article__red__mobile{
    background-color: $color-secundario;
    padding: 1.5rem;
    border-radius: 15px;
    display: inline-block;
    width: 230px;
    border: 1px solid $color-jet;
}
.nosotros__main__section__second__article__yellow__mobile{
    @extend .nosotros__main__section__second__article__red__mobile;
    background-color: $color-primario;
}
.nosotros__main__section__second__article__blue__mobile{
    @extend .nosotros__main__section__second__article__red__mobile;
    background-color: $color-terciario;
}

/**Video**/
.nosotros__main__div__video{
    margin: 5rem;
    text-align: center;
    background-color: $color-jet;
    padding: 6rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    .nosotros__video{
        width: 560px; 
        height: 315px;
    }
}

/**Responsive**/
@media screen and (max-width: 768px){
    .nosotros__main__section__second{
        margin: 2rem;
    }
    .nosotros__main__div{
        margin: 5rem;
    }
    .nosotros__main__div__video{
        margin: 1rem;
        padding: 1rem;
        .nosotros__video{
            width: 230px;
            height: 120px;
        }
    }
    .nosotros__main__section__second{
        .nosotros__main__section__second__article__red{
            width:auto;
        }
        .nosotros__main__section__second__article__blue{
            width:auto;
        }
        .nosotros__main__section__second__article__yellow{
            width:auto;
        }
    }
}