/**Página de Nosotros**/

.nosotros__main__section__first__h1{
    margin: 5rem;
    text-align: center;
}
.nosotros__main__section__first__div{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff597f1;
    margin: 2rem 0;
    padding: 3rem 1rem;
    .text__nosotros{
        font-family: $font-principal;
        font-weight: 300;
        font-size: 1.1rem;
    }
}
.nosotros__main__div{
    margin: 5rem;
    text-align: center;
    .title__nosotros__h2{
        font-family: $font-principal;
        font-weight: 800;
        font-size: 2.5rem;
    }
}
.title__nosotros{
    font-family: $font-principal;
    font-weight: 800;
    font-size: 3.5rem;
}
.nosotros__main__section__second{
    margin: 1rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    .nosotros__main__section__second__article__red{
        background-color: $color-secundario;
        padding: 1.5rem;
        border-radius: 15px;
        display: inline-block;
        width: 230px;
    }
    .nosotros__main__section__second__article__yellow{
        background-color: $color-primario;
        padding: 1.5rem;
        border-radius: 15px;
        display: inline-block;
        width: 230px;
    }
    .nosotros__main__section__second__article__blue{
        background-color: $color-terciario;
        margin: 0.5rem;
        padding: 1.5rem;
        border-radius: 15px;
        display: inline-block;
        width: 230px;
    }
    .title__nosotros__h3{
        font-family: $font-principal;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .text__nosotros__p{
        font-family: $font-principal;
        font-weight: 300;
        font-size: 1rem;
    }
}
.nosotros__main__div__video{
    margin: 5rem;
    text-align: center;
    background-color: $color-jet;
    padding: 6rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    .nosotros__video{
        width: 560px; 
        height: 315px;
    }
}

/**Responsive**/
@media screen and (max-width: 768px){
    .nosotros__main__section__first__h1{
        margin: 4rem 1rem;
        text-align: left;
    }
    .nosotros__main__section__second{
        margin: 2rem;
    }
    .nosotros__main__div{
        margin: 1rem;
    }
    .nosotros__main__div__video{
        margin: 1rem;
        padding: 1rem;
        .nosotros__video{
            width: 230px;
            height: 120px;
        }
    }
}