/**Página de productos**/

.productos__main__section__article__first{
    background-color: $color-primario;
    padding: 2rem;
    margin: 1rem;
    border-radius: 30px;
    display: inline-block;
    width: 400px;
}
.productos__main__section__article__second{
    margin: 1rem;
    background-color: $color-secundario;
    border-radius: 30px;
    display: inline-block;
    padding: 2rem;
    width: 400px;
}
.title__producto{
    font-family: $font-principal;
    font-weight: 500;
    font-size: 1.5rem;
    color: $color-jet;
}
.text__producto{
    font-family: $font-principal;
    font-weight: 300;
    font-size: 1rem;
    color: $color-jet;
}
.title__producto__h1{
    font-family: $font-principal;
    font-weight: 800;
    font-size: 3.5rem;
}
.text__producto__h1{
    font-family: $font-principal;
    font-weight: 300;
    font-size: 1.5rem;
}

/**Responsive**/
@media screen and (max-width: 768px){

    .productos__main__div {
        margin-left: 0;
    }
}