
/**Reseteo de valores**/
*{
    margin: 0;
    padding: 0;
}

/**Cuerpo de las páginas**/
body{
    background-color: $color-body;
    scroll-behavior: smooth;
    .div__icon{
        position: fixed;
        bottom: 20px;
        right: 20px;
        .div__icon__up{
            font-size: 50px;
            color: #9a0312;
        }
        .hidden{
            display: none;
        }
    }
}
/**Negritas**/
.p__strong{
    font-weight: 500;
    color: #000;
}

/**Animaciones**/
.slide-in-left{
    animation:slide-in-left .3s cubic-bezier(.25,.46,.45,.94) both;
}
@keyframes slide-in-left{
    0%{
        transform:translateX(-1000px);opacity:0;
    }
    100%{
        transform:translateX(0);opacity:1;
    }
}
.fade-in{
    animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;
}
@keyframes fade-in{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.fade-in-left{
    animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both;
}
@keyframes fade-in-left{
    0%{
        transform:translateX(-50px);
        opacity:0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}
.slide-in-right{
    animation:slide-in-right .3s cubic-bezier(.25,.46,.45,.94) both;
}
@keyframes slide-in-right{
    0%{
        transform:translateX(1000px);
        opacity:0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}
.slit-in-vertical{
    animation:slit-in-vertical .45s ease-out both;
}
@keyframes slit-in-vertical{
    0%{
        transform:translateZ(-800px) rotateY(90deg);
        opacity:0;
    }
    54%{
        transform:translateZ(-160px) rotateY(87deg);
        opacity:1;
    }
    100%{
        transform:translateZ(0) rotateY(0);
    }
}
.scale-up-center{
    animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;
}
@keyframes scale-up-center{
    0%{
        transform:scale(.5);
    }
    100%{
        transform:scale(1);
    }
}
.tracking-in-expand{
    animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
}
@keyframes tracking-in-expand{
    0%{
        letter-spacing:-.5em;opacity:0;
    }
    40%{
        opacity:.6;
    }
    100%{
        opacity:1;
    }
}
.slide-in-top{
    animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;
}
@keyframes slide-in-top{
    0%{
        transform:translateY(-200px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}

/**Responsive**/
.escritorio{
    display: none;
}
@media screen and (min-width: 768px){
    .escritorio{
        display:flex;
        flex-direction: column-reverse;
    }
    .celular{
            display: none;

    }
}