/**Colores**/
$color-body:  #FDFCF0;
$color-primario: #FFE24F;
$color-secundario: #DB5461;
$color-terciario: #2176AE;
$color-jet: #2a2a2a;
$color-antiflash: #EBEBEB;

/**Sombras**/
$sombra: 4px 4px 0px -1px #000000;
$sombra-descubre: 6px 6px 0px -1px #000;

/**Tipografía**/
$font-principal: 'Bricolage Grotesque', sans-serif;